<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HR.Properties.Settings.FPConnectionString" connectionString="Data Source=DESKTOP-NRUK56G\SQLEXPRESS;Initial Catalog=FP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HR.Properties.Settings.FprojectConnectionString" connectionString="Data Source=DESKTOP-NRUK56G\SQLEXPRESS;Initial Catalog=Fproject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>